{% extends 'basic.html' %}

{% block title %} Вычисление матриц {% endblock %}

{% block content %}
    <h1>Вычисление матриц</h1>
    <div class="inputs-wrapper">
        <select id="matrixSize">
            <option value="1">1x1</option>
            <option value="2">2x2</option>
            <option value="3">3x3</option>
            <option value="4">4x4</option>
        </select>
        <select id="function"></select>
        <button onclick="send()">Отправить</button>
    </div>
    <div class="matrices">
        <div id="firstMatrixField" class="matrix"></div>
        <div id="secondMatrixField" class="matrix"></div>
    </div>
    <script src="/static/matrix.js"></script>
{% endblock %}